{% for actuality in actualities %}
	<div class="col-12 d-flex">
		<div class="actuCard row col-11 d-flex my-3 rounded border border-primary bg-light">
			<img class="img-fluid col-3 p-0 rounded-start" src={% if actuality.picture is defined %} "{{ vich_uploader_asset(actuality, 'pictureFile') }}" {% endif %} alt="">
			<div class="col-9 d-flex flex-column">
				<h5 class="fs-3 m-1">{{ actuality.title }}</h5>
				<p class="m-1">{{ actuality.content }}</p>
			</div>
		</div>
		<div class="col-1 d-flex flex-column align-items-center justify-content-start">
			<a class="btn btn-primary my-3 fs-4" href="{{ path('admin_actuality_edit', {'id': actuality.id}) }}">
				<i class="bi bi-pencil-square"></i>
			</a>
			{{ include('admin_actuality/_delete_form.html.twig') }}
		</div>
	</div>
{% endfor %}
