{{ form_start(form) }}
{{ form_widget(form.category.title, {
        'attr': {
        'class': 'd-none'
        }}) }}
{{ form_widget(form.category.description, {
        'attr': {
        'class': 'd-none'
        }}) }}
{{ form_row(form.title) }}
{{ form_row(form.description) }}
<div class="d-flex justify-content-between">
	<a href="{{ path('admin_session_index') }}" class="btn btn-secondary text-light">
		<i class="bi bi-arrow-left-square m-1"></i>Retour</a>
	<button class="btn btn-success">
		{% autoescape false %}
			{{ button_label|default('<i class="bi bi-plus-circle m-1"></i>Ajouter') }}
		{% endautoescape %}
	</button>
</div>
{{ form_end(form) }}
