<div class="row sessionsMain justify-content-start bg-light rounded p-3 m-0">
	<h2 class="categoryTitle text-primary p-0 fs-2">{{ category.title }}</h2>
	{% if category.description is defined %}
		<div class="p-2 m-0">{{ category.description|raw }}</div>
	{% endif %}
	{% if category.sessions is not empty %}
		<ul class="list-unstyled accordion accordion-flush p-2 m-0" id="accordionServices{{ category.id }}">
		{% endif %}
		{% for session in category.sessions %}
			<li class="accordion-item">
				<div class="accordion-header" id="heading{{ session.id }}">
					<button class="accordion-button collapsed ps-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ session.id }}" aria-expanded="false" aria-controls="collapse{{ session.id }}">
						<i class="sessionIcon bi bi-plus-circle me-3 text-secondary"></i>
						{{ session.title }}
					</button>
				</div>
				<div id="collapse{{ session.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ session.id }}" data-bs-parent="#accordionServices{{ category.id }}">
					<div class="accordion-body">
						{{ session.description|raw }}
					</div>
				</div>
			</li>
		{% endfor %}
		{% if category.sessions is not empty %}
		</ul>
	{% endif %}
</div>
