{% extends 'base.html.twig' %}

{% block title %}Connexion -
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1 class="pageTitle text-primary my-5 fs-1">Espace administrateur</h1>
	<div class="row m-0 justify-content-center">
		{% if error %}
			<div class="alert alert-danger my-2 col-lg-6">
				<i class="bi bi-exclamation-triangle-fill me-1"></i>
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
	</div>
	<section class="row flex-column align-items-center m-0">
		<div class="loginPrompt mb-5 col-lg-6 col-12 p-0 bg-light rounded border border-2 border-secondary">
			<h2 class="text-center p-2 fs-3 text-primary rounded-top w-100">
				Connexion
			</h2>
			<form action="{{ path('login') }}" method="post" class="d-flex flex-column my-2 p-3 gap-4">
				<div class="form-floating">
					<input type="email" class="form-control" name="_username" id="username" placeholder="Email">
					<label for="username">Email</label>
				</div>
				<div class="form-floating">
					<input type="password" class="form-control" name="_password" id="password" placeholder="Mot de passe">
					<label for="password">Mot de passe</label>
				</div>
				<button class="btn btn-secondary">Se connecter</button>
				<input type="hidden" name="_target_path" value="{{ path('admin_index') }}"/>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</form>
		</div>
	</section>
{% endblock %}
