<div class="contactElement col-lg-7 bg-white p-4 rounded">
	<div class="mb-4">
		Pour toute demande ou prise de rendez-vous, vous pouvez me contacter par téléphone au
		<b>06 32 56 01 27</b>
		ou via le formulaire ci-dessous :
	</div>
	{{ form_start(form) }}
	<div class="row mb-3">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text p-2 pt-1 pb-1 bg-primary">
					<i class="bi bi-person fs-4 text-white text-center p-0"></i>
				</span>
			</div>
			{{ form_widget(form.firstname) }}
			{{ form_widget(form.lastname) }}
		</div>
	</div>
	<div class="row mb-2 align-items-center justify-content-between">
		<div class="mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text p-2 pt-1 pb-1 bg-primary">
						<i class="bi bi-telephone fs-4 text-white text-center p-0"></i>
					</span>
				</div>
				{{ form_widget(form.phone) }}
			</div>
		</div>
		<div class="mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text p-2 pt-1 pb-1 bg-primary">
						<i class="bi bi-envelope fs-4 text-white text-center p-0"></i>
					</span>
				</div>
				{{ form_widget(form.mail) }}
			</div>
		</div>
	</div>
	{{ form_row(form.reason) }}
	{{ form_row(form.message) }}
	<div class="row justify-content-end m-0">
		<button class="formButton btn btn-primary col-12 col-lg-2">Envoyer</button>
	</div>
	{{ form_end(form) }}</div>
