<!DOCTYPE html>

<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}Voyage des sens
			{% endblock %}
		</title>

		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</head>
	<body class="d-flex flex-column">
		{% block navbar %}
			{% include "items/_navbar.html.twig" %}
		{% endblock %}
		{% block header %}{% endblock %}
		<main class="mainContainer container">
			{% block flash %}
				{% for category, messages in app.flashes %}
					{% for message in messages %}
						<div class="row justify-content-center align-items-center m-0 mt-5">
							<div class="col col-lg-5 d-flex align-items-center justify-content-center alert alert-{{ category }} alert-dismissible fade show flash">
								{{ message|raw }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
			{% endblock %}
			{% block body %}{% endblock %}
		</main>
		{% block footer %}
			{% include "items/_footer.html.twig" %}
		{% endblock %}
	</body>
</html>
