{% for actuality in actualities %}
	<div class="actuCard col-12 bg-light p-3">
		<h2 class="presentationTitle text-primary p-0 fs-2 mb-3">
			{{ actuality.title }}
		</h2>
		<div class="row m-0 justify-content-between gap-4 gap-lg-0">
			{% if actuality.media is null %}
				<img class="actuImg col-lg-4 rounded p-0 align-self-start" src="{{ asset('build/images/VDS_Vertical_Couleur.png') }}" alt="Logo Voyage des sens">
			{% elseif actuality.isVideo %}
				<video controls controlslist="nodownload disablePictureInPicture" class="actuImg col-lg-4 rounded p-0 align-self-start" src="{{ vich_uploader_asset(actuality, 'mediaFile') }}" alt="Vidéo de {{ actuality.title }}"></video>
			{% else %}
				<img class="actuImg col-lg-4 rounded p-0 align-self-start" src="{{ vich_uploader_asset(actuality, 'mediaFile') }}" alt="Photo de {{ actuality.title }}">
			{% endif %}
			<div class="col-lg-8 p-0 px-lg-3">{{ actuality.content|raw }}</div>
		</div>
	</div>
{% endfor %}
